<div [formGroup]="form" class=' m-2'>
    <div [ngSwitch]="input.controlType">
        <mat-form-field appearance="outline" class=' ms-2'>
            <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
            <input matInput *ngSwitchCase="'text-box'" [id]="input.key" [type]="input.type"
                [formControlName]="input.key">
            <mat-select *ngSwitchCase="'dropdown'" [id]="input.key" [formControlName]="input.key">
                <mat-option *ngFor="let option of input.options" [value]="option.key"> {{ option.value }} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-error class="alert alert-danger ms-2 " *ngIf="control?.invalid && control?.touched">
        <div *ngIf="control?.errors?.['required']">
            Required field
        </div>
        <div *ngIf="control?.errors?.['maxlength']">
            MaxLength = 256 char
        </div>
        <div *ngIf="control?.errors?.['minlength']">
            Min Length must be {{input.validation['minLength']}}
        </div>
        <div *ngIf="control?.errors?.['email']">
            Type must be email
        </div>
        <div *ngIf="control?.errors?.['min']">
            min number = {{input.validation['min']}}
        </div>
        <div *ngIf="control?.errors?.['max']">
            max number = {{input.validation['max']}}
        </div>
    </mat-error>
</div>
