<nav class="d-flex justify-content-around navbar navbar-expand-lg navbar-light bg-primary ">
  <div>
    <ul class="navbar-nav fw-bold">
      <li class="nav-item  p-2">
        <a class="nav-link " routerLink="home-page">Home</a>
      </li>
      <li class="nav-item p-2 ">
        <a class="nav-link " routerLink="about-us">About Us</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link " routerLink="users">Users Page</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet>

  </router-outlet>
</div>